.App {
  max-width: 1200px;
	margin: auto;
}

.Navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%; 
}

.Link {
  padding: 0px 16px;
  background-color: #27ae60;
  color:white;
  text-decoration:none; 
  border: 1px solid darkred; 
}

.Link:hover{
  background-color:#23834c; 
}
